/* Write some CSS below */
body {
  font-family: ;
  color: #404042;
  background-color: black;
  font-size: 18px;
}

h1, h3 {
  font-family: Chivo;
}

h2 {
  font-family: Chivo;
  color: #FFFFFF;
}

h1 {
  color: #FFFFFF;
  font-family: Chivo;
}

h4{
  color: #A4A4A4;
  font-family: Chivo;
}

p {
  font-family: OpenSans;
}

a {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: #CE2FAE;
}

.card-white {
	color: black;
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 350px;
  border: hidden ;
  text-align: center;
  padding: 24px;
  margin: 8px;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/fond.jpeg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

.soustitre {
 
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.footer p {
  color: white;
}

.footer {
	background-color:black;
}

.button-blue {
  background-color: #848484;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;